.box-preview-container {
  position: relative;
  width: 790px;
  height: 800px;
  margin: auto; 
  overflow: hidden; 
}

.box-preview {
  position: relative;
  width: 100%;
  height: 100%;
}

.box-images {
  position: relative;
  width: 100%;
  height: calc(100% - 50px); 
}

.closed-box {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1.5s ease-in-out; 
  transform-origin: left center; 
  cursor: pointer; 
  z-index: 1; 
}

.open-box-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; 
  transition: opacity 0.5s ease-in-out; 
}

.slide-out {
  transform: translateX(100%); 
}

.box-opened .open-box-image {
  opacity: 1; 
}

.overlay {
  position: absolute;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  pointer-events: auto; 
  display: none; 
}

.overlay.photos {
  top: 10px;
  left: 10px;
}

.overlay.gift {
  top: 70px;
  left: 70px;
}

.overlay.music {
  top: 130px;
  left: 130px;
}

.overlay.videos {
  top: 190px;
  left: 190px;
}

.overlay.voice-notes {
  top: 250px;
  left: 250px;
}

.overlay.letters {
  top: 310px;
  left: 310px;
}

.box-opened .overlay {
  display: block;
}

.box-preview-button-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: calc(100% - 100px); 
}

button {
  border-radius: 15px;
  border: transparent;
  background-color: #F8A820;
  padding: 15px;
  font-weight: bold;
  font-size: large;
}
