.displayContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 50px;
}

.fileDisplay {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #ccc;
}

.fileDisplay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}