#hero {
    display: grid;
    grid-template-columns: 400px 800px 200px;
    grid-template-rows: 200px 200px 200px;
}
#text {
    grid-column: 1;
    grid-row: 1;
}
#closedBox {
    z-index: 3;
    position: relative;
    width: 790px;
    height: 800px;
    grid-column: 2;
    grid-row: 1;
}
#hoverBox {
    z-index: 0;
    position: relative;
    width: 790px;
    height: 800px;
    grid-column: 2;
    grid-row: 1;
}
#closedBox:hover {
    animation-name: openBox;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes openBox {
    from { left: 0px; }
    to { left: 700px; }
}