html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

.box-edit-container {
  margin-top: 64px;
  margin-left: 240px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

/* Marketing Buttons */
.btn_marketing {
  background-color: #F8a820;
  color: #0e1a28;
  border-color: #0e1a28;
}

.btn_marketing:hover {
  background-color: #f0a61a;
  color: #0e1a28;
}

/* Primary Buttons */
.btn_primary {
  background-color: #0e1a28;
  color: #FFFFFF;
  border-color: #0e1a28;
}

.btn_primary:hover {
  background-color: #0b1622;
  color: #FFFFFF;
}

/* Link Buttons */
.btn_link {
  background: none;
  color: #e85230;
  border: none;
  font: inherit;
}

.btn_link:hover {
  color: #d74028;
}

/* General Button Styles */
.btn {
  display: inline-block;
  padding: 10px 20px;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}
