@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.back-link {
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
    color: black;
}

.photos-heading {
    text-align: center;
    margin-bottom: 20px;
}

.photos-list-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.photos-list {
    width: 300px;
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 10px; /* Optional: Add padding for better UI */
    border: 1px solid #ccc; /* Optional: Add border for better visibility */
}

.photo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.photo-item:hover {
    text-decoration: underline;
}

.photo-icon {
    margin-right: 10px;
}

.photo-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.photo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 90vw;
    max-height: 90vh;
}

.photo-image {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    display: block;
}

.photo-caption {
    margin-top: 10px;
    font-size: 1.2em;
    text-align: center;
    color: #333;
    width: 100%;
    word-wrap: break-word;
    display: none;
    font-family: 'Poppins', sans-serif;
}
