@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.back-link {
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
    color: white;
    background-color: #f8a820;
    padding: 5px 15px;
    border: 2px solid #e85230;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.back-link:hover {
    background-color: #e85230;
}



.photos-heading {
    text-align: center;
    margin-bottom: 20px;
}

.photos-list-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.photos-list {
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 10px;
    border: 1px solid #ccc;
}

.photo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.photo-item:hover {
    text-decoration: underline;
}

.photo-icon {
    margin-right: 10px;
}

.photo-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 80vh;
    padding: 20px;
}

.photo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}

.photo-image {
    max-width: 100%;
    max-height: 35vh;
    width: auto;
    height: auto;
    display: block;
}

.photo-caption {
    margin-top: 10px;
    font-size: 1.2em;
    text-align: center;
    color: #333;
    width: 100%;
    word-wrap: break-word;
    font-family: 'Poppins', sans-serif;
}