/* src/ImageSlider.css */

.box-Design {
  width: 1392px;
  margin: 0px auto;
  height: 100vh;
}
.box-Design .boxtitle {
  margin-top: 100px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.box-Design h5 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.box-Design h6 {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}


{
  margin-left: 150px;
  margin-top: 30px;
  width: 80%;
  padding-left: 40px;
  border-left: 1px solid rgb(193, 193, 193);
  border-bottom: 1px solid rgb(193, 193, 193);
  border-right: 1px solid rgba(193, 193, 193, 0.582);
  font-family: "Poppins", sans-serif;
  box-shadow: 1px 1px rgb(158, 158, 158);
}
}



.box-setup-title h3 {
  font-family: "Poppins", sans-serif;
  margin-left: 120px;
  font-size: 30px;
  margin-top: 100px;
}
.box-setup-content {
  margin-left: 150px;
  margin-top: 30px;
  width: 80%;

  padding-left: 40px;
  border-left: 1px solid rgb(193, 193, 193);
  border-bottom: 1px solid rgb(193, 193, 193);
  border-right: 1px solid rgba(193, 193, 193, 0.582);
  font-family: "Poppins", sans-serif;
  box-shadow: 1px 1px rgb(158, 158, 158);
}

.slider-image {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.photo-content img {
  width: 500px;
}

.arrow {
  position: absolute;
  top: 90%;
  transform: translateY(-100%);
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 2;
  user-select: none;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}
.next-btn {
  display: flex;
  justify-content: space-between;

}
.next-btn button {
  margin-bottom: 20px;

  background-color: black;
  padding: 10px;
  width: 150px;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 30px;


}