.footer-content {
  width: 100%;
  background-color: rgba(28, 28, 29, 1);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.edit-footer-content {
  margin-left: 240px;
  background-color: rgba(28, 28, 29, 1);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-content .subscription .subs, 
.edit-footer-content .subscription .subs {
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #ffffff;
}

.footer-content .subscription .subs .sub-title, 
.edit-footer-content .subscription .subs .sub-title {
  font-size: 35px;
  font-family: "Poppins";
  font-weight: bold;
  color: white;
}

.footer-content .subscription .subs p, 
.edit-footer-content .subscription .subs p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-top: 0px;
  color: white;
  display: flex;
}

.footer-content .subscription .subs input, 
.edit-footer-content .subscription .subs input {
  width: 300px;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
}

.footer-content .subscription .subs button, 
.edit-footer-content .subscription .subs button {
  border: none;
  background-color: black;
  color: white;
  margin-left: 20px;
}

.footer-content .site-map, 
.edit-footer-content .site-map {
  padding: 20px;
  display: flex;
  padding-left: 100px;
  flex-direction: column;
}

.footer-content .site-map .site-title, 
.edit-footer-content .site-map .site-title {
  font-size: 35px;
  font-family: "Poppins";
}

.subscription, .site-map, .follow {
  flex: 1;
  text-align: center;
}

.subscription {
  margin-right: 20px;
}

.site-map {
  margin: 0 20px;
}

.follow {
  margin-left: 20px;
}

.sub-title, .site-title, .follow-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #F8A820;
}

.footer-content .follow .follow-title, 
.edit-footer-content .follow .follow-title {
  font-size: 35px;
  font-family: "Poppins";
  font-weight: bold;
  color: white;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.site-map ul {
  list-style: none;
  padding: 0;
}

.site-map ul li {
  margin: 5px 0;
}

.site-map a {
  text-decoration: none;
  color: #ffffff;
}

.site-map a:hover {
  text-decoration: underline;
  background-color: #1a2a38;
  transform: scale(1.05);
}

.follow img {
  width: 64px;
  height: 64px;
  margin: 0 10px;
}

.copyright {
  font-size: 14px;
  margin-top: 50px;
  color: #ffffff;
}