.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page-footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.link-btn {
  background-color: transparent;
  border: none;
  color: #e85230; 
  font-size: 14px;
  cursor: pointer;
}

.link-btn:hover {
  text-decoration: underline;
}
