.nav {
  /* flex box layout */
  display: flex;
  height: 64px;
  overflow: hidden;
  top: 0;
  width: 100vw;
  background-image: url('icons/memento-box-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  justify-content: end;
}
.edit-nav {
  display: flex;
  height: 64px;
  margin: 0 0 30px;
  overflow: hidden;
  z-index: 2;
  position: fixed;
  background-image: url('icons/memento-box-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  top: 0;
  width: 100vw;
  justify-content: end;
}

.nav a,
.edit-nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #000000;
  text-align: center;
  padding: 5px 25px 5px 0;
  text-decoration: none;
  font-size: 15px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}
.navLink:hover {
  text-decoration: underline;
}

.menu {
  color: #000000;
  background-color: #ffffff;
  position: absolute;
  padding-bottom: 5px;
  z-index: 4;
  border: 2px;
  border-style: outset;
  border-color: #000000;
  border-radius: 5px;
}
#hamburger {
  padding-right: 20px;
}