@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

#boxClosed {
    position: relative;
    width: 790px;
    height: 800px;
    grid-column: 2;
    grid-row: 1;
}

.animation {
    animation-name: openBox;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#boxOpen {
    position: relative;
    grid-column: 2;
    grid-row: 1;
    width: 790px;
    height: 800px;
}

#grid {
    display: grid;
    grid-template-columns: 400px 800px 200px;
    grid-template-rows: 200px 200px 200px;
}

#collaborators {
    margin: 20px;
    grid-column: 1;
    grid-row: 2;
    font-family: 'Poppins', sans-serif;
}

.person {
    margin: 0px;
}

#from {
    margin: 2px;
}

@keyframes openBox {
    from {
        left: 0px;
    }
    to {
        left: 700px;
    }
}


.ReactModal__Content {
    width: 50%; 
    height: 50%; 
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

#thanks {
    grid-column: 1;
    grid-row: 3;
    margin: 10px;
    text-decoration: underline;
    cursor: pointer;
}
